html, 
body {
  height: 100%;
  margin: 10px;
  padding: 0;
}
.page-header{
  background-color: cyan;
}
.sidebar{
  background-color: orange;
  border: 10px;
}
#map {
  height: 50%;
}
.col-sm-9{
	margin-top:5px;"
}